<ion-card *ngIf="question">
  <ion-card-header>
    <ion-card-subtitle>
      {{ question.title }}
    </ion-card-subtitle>
  </ion-card-header>
  <!-- Answeres -->
  <form [formGroup]="answerForm" *ngIf="question">
    <!-- Text answer -->
    <div class="input-group" *ngIf="question.type == QuestionTypes['Text']">
      <ion-textarea *ngIf="!pattern" formControlName="text" class="form-control" contenteditable="true"
        placeholder="Free text"></ion-textarea>

      <ion-input *ngIf="pattern" pattern="{{pattern}}" formControlName="text" class="form-control"
        contenteditable="true" placeholder="{{ textTypeToString[Type] }}"></ion-input>
    </div>

    <!-- Slider Answer -->
    <div *ngIf="question.type == QuestionTypes['Slider']">
      <ion-range min="-200" max="200" color="secondary">
        <ion-label slot="start">-200</ion-label>
        <ion-label slot="end">200</ion-label>
      </ion-range>
      <!-- <ng5-slider class="questionnaire-slider" [(value)]="rangeValue" [options]="rangeOptions"
          (userChangeEnd)="onRangeChange()"></ng5-slider> -->
    </div>

    <!-- Number answer -->
    <div *ngIf="question.type == QuestionTypes['Number']">
      <input formControlName="numberAnswer" class="form-control" type="number" min="{{ from }}" max="{{ to }}" />
    </div>

    <!-- Checkbox/radio button answer -->
    <div class="col" *ngIf="question && question.possibleAnswers && (question.type == QuestionTypes['Checkbox'] || question.type ==
        QuestionTypes['Radio Button'])">
      <div class="row">
        <!-- Prints out the options -->
        <div class="row question mt-4" *ngFor="let option of question.possibleAnswers"
          [style.border-color]="option.colorHexValue" (click)="optionPressed(option)">

          <div class="col-1">
            <!-- Checkbox buttons -->
            <div *ngIf="question.type == QuestionTypes['Checkbox']">
              <i *ngIf="CheckValue(option)" class="far fa-check-square"></i>
              <i *ngIf="!CheckValue(option)" class="far fa-square"></i>
            </div>

            <!-- Radio button buttons -->
            <div *ngIf="question.type == QuestionTypes['Radio Button']">
              <i *ngIf="CheckValue(option)" class="far fa-dot-circle"></i>
              <i *ngIf="!CheckValue(option)" class="far fa-circle"></i>
            </div>
          </div>

          <div class="col">
            <h5>
              {{ option.text }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </form>
</ion-card>