<ion-card *ngIf="question">
  <ion-card-header>
    <ion-card-subtitle>
      {{ question.title }}
    </ion-card-subtitle>
  </ion-card-header>

  <!-- AnswerForm -->
  <form [formGroup]="answerForm" *ngIf="question">

    <!-- If Text Question -->
    <text-question *ngIf="question.type == QuestionTypes['Text']" [question]="question"
      [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm"></text-question>

    <!-- If Text Question -->
    <slider-question *ngIf="question.type == QuestionTypes['Slider']" [question]="question"
      [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm"></slider-question>

    <!-- If Number Question -->
    <number-question *ngIf="question.type == QuestionTypes['Number']" [question]="question"
      [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm"></number-question>

    <!-- If Checkbox Question -->
    <checkbox-question *ngIf="question.possibleAnswers && (question.type == QuestionTypes['Checkbox'])"
      [question]="question" [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm">
    </checkbox-question>

    <!-- If Radio Button Question -->
    <radio-question *ngIf="question.possibleAnswers && (question.type == QuestionTypes['Radio Button'])"
      [question]="question" [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm">
    </radio-question>

  </form>
</ion-card>