<ion-item-divider class="ion-no-margin" color="primary" style="border-radius: 5px !important;">
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-col>
      <ion-row>
        <ion-label class="ion-text-wrap ion-padding-top question-header">
          {{ question.title }}
          <span style="color: red;" *ngIf="question.required">
            *
          </span>
        </ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-start ion-padding-top">
        <div [formGroup]="answerForm">
          <ion-checkbox [attr.disabled]="isReadOnly" formControlName="na" mode="md"
            [checked]="answerForm.controls['na'].value">
          </ion-checkbox>
        </div>
        <ion-label class="ion-text-wrap" style="font-size: small; text-overflow: clip; padding-left: 8px">
          N/A
        </ion-label>
        <div>
          <ion-icon *ngIf="hasComment" (click)="toggleComment()" slot="end" name="chatbubbles"
            class="ion-padding-start clickable-icon" style="color: #ffce00;"></ion-icon>
          <ion-icon *ngIf="!hasComment" (click)="toggleComment()" slot="end" name="chatbubbles"
            class="ion-padding-start clickable-icon">
          </ion-icon>
          <ion-icon (click)="takePhotoAndUpload()" slot="end" class="clickable-icon" name="camera"></ion-icon>
        </div>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-item-divider>

<div *ngIf="question" class="ion-padding-top">
  <form [formGroup]="answerForm" *ngIf="question">
    <!-- If Text Question -->
    <text-question *ngIf="question.type == QuestionTypes['Text']" [isReadOnly]="isReadOnly" [question]="question"
      [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm" [questionAnswer]="questionAnswer">
    </text-question>

    <!-- If Slider Question -->
    <slider-question *ngIf="question.type == QuestionTypes['Slider']" [isReadOnly]="isReadOnly" [question]="question"
      [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm" [questionAnswer]="questionAnswer">
    </slider-question>

    <!-- If Number Question -->
    <number-question *ngIf="question.type == QuestionTypes['Number']" [isReadOnly]="isReadOnly" [question]="question"
      [questionnaireUserAnswer]="questionnaireUserAnswer" [answerForm]="answerForm" [questionAnswer]="questionAnswer">
    </number-question>

    <!-- If Checkbox Question -->
    <checkbox-question *ngIf="question.possibleAnswers && (question.type == QuestionTypes['Checkbox'])"
      [isReadOnly]="isReadOnly" [question]="question" [questionnaireUserAnswer]="questionnaireUserAnswer"
      [answerForm]="answerForm" [questionAnswer]="questionAnswer">
    </checkbox-question>

    <!-- If Radio Button Question -->
    <radio-question *ngIf="question.possibleAnswers && (question.type == QuestionTypes['Radio Button'])"
      [isReadOnly]="isReadOnly" [question]="question" [questionnaireUserAnswer]="questionnaireUserAnswer"
      [answerForm]="answerForm" [questionAnswer]="questionAnswer">
    </radio-question>

    <!-- If Location question -->
    <location-question *ngIf="question.possibleAnswers && (question.type == QuestionTypes['Location'])"
      [isReadOnly]="isReadOnly" [question]="question" [questionnaireUserAnswer]="questionnaireUserAnswer"
      [answerForm]="answerForm" [questionAnswer]="questionAnswer">
    </location-question>
  </form>

  <error-msg [displayError]="!validationService.isQuestionAnswerValid(question, answerForm).isValid"
    [errorMsg]="validationService.isQuestionAnswerValid(question, answerForm).errorMsg"></error-msg>

  <div [formGroup]="answerForm" class="ion-padding-start ion-padding-top" *ngIf="showComment">
    <ion-label style="font-size: small;">
      <ion-icon style="display: inline-block; color: #2c3752; font-size: small" slot="start" name="create"></ion-icon>
      Comment on this question
    </ion-label>
    <ion-textarea #comment style="font-size: small" autoGrow="true" formControlName="comment" readonly="false"
      wrap="soft" placeholder="Write your comment here..">
    </ion-textarea>
  </div>
  <ion-item *ngFor="let file of files">
    <ion-thumbnail slot="start" *ngIf="file">
      <img src="{{ file.url }}" />
    </ion-thumbnail>
    <ion-label>
      {{file.name}}
    </ion-label>
    <ion-icon (click)="removePicture(file)" name="trash" color="warning" item-end></ion-icon>
  </ion-item>
</div>