<div class="name" style="list-style-type:none;display: flex;flex-wrap: wrap;justify-content: flex-start;padding: 1rem;">

    <input *ngIf="selector" [(ngModel)]="checked" (change)="onChange($event.target.checked)" type="checkbox"
        class="mr-1" style="align-self: center; margin-right: 1rem;" />

    <div style="list-style-type:none;display: flex;flex-wrap: wrap;justify-content: flex-start;flex: auto;"
        (click)="showChildren = !showChildren">
        <a style="align-self: center; padding-right: 0.5rem;" class="name">
            <ion-icon style="align-self: center; padding-right: 0.5rem;" *ngIf="isTopLevel" name="ellipse">
            </ion-icon>
            <ion-icon *ngIf="!isTopLevel" style="align-self: center; padding-right: 0.5rem;" name="remove"></ion-icon>
            {{ division.name }}
        </a>
        <div [ngStyle]="{'visibility': hasChildren() ? 'visible' : 'hidden' }" style="width: 1rem;align-self: center;"
            class="pointer">
            <ion-icon *ngIf="!showChildren" name="caret-forward-outline"></ion-icon>
            <ion-icon *ngIf="showChildren" name="caret-down-outline"></ion-icon>
        </div>
    </div>
</div>

<div *ngIf="showChildren">
    <div class="children" *ngFor="let child of division.children">
        <division-item [isTopLevel]="false" [readonly]="readonly" [division]="child" (list)="list.emit()"
            [selector]="selector" [isParrentChecked]="checked" (onSelect)="childSelected($event)"
            [inputDivisions]="inputDivisions">
        </division-item>
    </div>
</div>