<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="questionnaire">{{questionnaire.title}}</ion-title>
    <ion-title *ngIf="!questionnaire">Questionnaire</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="questionnaire" style="--background: #eeeeee;">
  <div *ngIf="questionnaireUserAnswer">
    <div *ngFor="let item of questionsAndQuestionGroups">

      <!-- Question groups -->
      <div *ngIf="item.type == 'Group'">
        <question-group [questionGroup]="item.reference" [questionnaireUserAnswer]="questionnaireUserAnswer">
        </question-group>
      </div>

      <!-- Standalone questions -->
      <ion-card *ngIf="item.type == 'Question'" class="card ion-no-margin ion-margin-bottom" style="--background: white; border-radius: 0px">
        <ion-card-content>
          <question [question]=" item.reference" [questionnaireUserAnswer]="questionnaireUserAnswer"
            [isInGroup]="false">
          </question>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
