<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Answer Questionnaire</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="questionnaireUserAnswer">
    <div *ngFor="let item of questionsAndQuestionGroups">

      <!-- Question groups -->
      <div *ngIf="item.type == 'Group'">
        <question-group [questionGroup]="item.reference" [questionnaireUserAnswer]="questionnaireUserAnswer">
        </question-group>
      </div>

      <!-- Standalone questions -->
      <ion-card *ngIf="item.type == 'Question'">
        <ion-card-content>
          <ion-item-divider color="primary" style="border-radius: 5px !important;">
            <ion-label class="ion-text-wrap">
              {{ item.reference.title }}
            </ion-label>
          </ion-item-divider>
          <question [question]=" item.reference" [questionnaireUserAnswer]="questionnaireUserAnswer"
            [isInGroup]="false">
          </question>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>