<ion-header>
  <ion-toolbar color="primary" class="ion-color ion-color-primary">
    <ion-title>Tasks</ion-title>
  </ion-toolbar>

  <form [formGroup]="controlFilterForm">
    <ion-toolbar color="primary" class="ion-color ion-color-primary">
      <ion-searchbar
        (search)="onSearch()"
        formControlName="search"
        debounce="500"
        animated
      >
      </ion-searchbar>
    </ion-toolbar>

    <ion-toolbar>
      <division-selector
        [textSize]="0"
        (changeInSelectedDivisions)="divisionsChanged($event)"
      ></division-selector>
    </ion-toolbar>
  </form>
</ion-header>
<ion-content>
  <ion-list *ngIf="controls">
    <ion-item
      button
      *ngFor="let control of controls"
      routerLink="/tabs/tab1/details/{{control.id}}"
      routerDirection="forward"
      routerLinkActive="router-link-active"
    >
      <ion-label> {{ control.title }}</ion-label>
      <ion-icon
        color="danger"
        class="ion-float-right"
        *ngIf="control.exceeded"
        name="alert-circle"
      ></ion-icon>
      <ion-icon
        color="success"
        class="ion-float-right"
        *ngIf="!control.exceeded"
        name="checkmark-circle"
      >
      </ion-icon>
      <ion-icon
        color="warning"
        class="ion-float-right"
        *ngIf="control.followUp"
        name="help-circle"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!controls">
    <ion-item
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
    >
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
      <ion-icon name="checkmark-circle">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-icon>
      <ion-icon name="checkmark-circle">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      routerLink="/tabs/tab1/qrscan"
      routerDirection="forward"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
