<ion-header>
  <ion-toolbar color="primary" class="ion-color ion-color-primary">
    <ion-title *ngIf="audit">{{audit.title}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="audit">
  <ion-list>
    <ion-list-header>
      Description
    </ion-list-header>
    <div *ngIf="audit.description" padding [innerHtml]="audit.description | sanitizeHtml"></div>
    <div *ngIf="!audit.description" padding>No description</div>
    <ion-list-header>Deadline</ion-list-header>
    <ion-item>
      <ion-label>{{ audit.date | date:'MMM dd, yyyy'}}</ion-label>
    </ion-item>
    <!-- If audit is not completed -->
    <div *ngIf="!audit.completed">
      <ion-item>
        <ion-label> Follow-Up</ion-label>
        <ion-toggle [(ngModel)]="audit.followUp"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-textarea [disabled]="!audit.followUp" placeholder="Enter remarks here.." [(ngModel)]="audit.remarks"
          rows="7">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter name.." [(ngModel)]="audit.other"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> Location</ion-label>
        <ion-toggle [(ngModel)]="audit.location" (ionChange)="enableLocation()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="audit.location" style="padding-top: 5px;">
        <agm-map *ngIf="renderMapComplete" [latitude]="audit.latitude" [longitude]="audit.longitude">
          <agm-marker [latitude]="audit.latitude" [longitude]="audit.longitude"></agm-marker>
        </agm-map>
      </ion-item>
    </div>

    <!-- If audit is completed -->
    <div *ngIf="audit.completed">
      <ion-list-header>Completed On</ion-list-header>
      <ion-item>
        {{ audit.completedAt | date:'EEE, MMM dd, yyyy h:mm a' }}
      </ion-item>
      <div *ngIf="completedUser">
        <ion-list-header>Completed By</ion-list-header>
        <ion-item>{{ completedUser.name }}</ion-item>
      </div>
      <div *ngIf="audit.followUp">
        <ion-list-header>Remarks</ion-list-header>
        <ion-item>
          <ion-textarea>
            {{ followUp.remarks }}
          </ion-textarea>
        </ion-item>
      </div>
      <div *ngIf="showLocation">
        <ion-list-header>Location</ion-list-header>
        <ion-item>
          <agm-map *ngIf="renderMap" [latitude]="audit.latitude" [longitude]="audit.longitude">
            <agm-marker [latitude]="audit.latitude" [longitude]="audit.longitude"></agm-marker>
          </agm-map>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <ion-grid *ngIf="!audit.completed">
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="block" margin-bottom (click)="takePicture()">Take photo</ion-button>
        <ion-button color="primary" expand="block" margin-top (click)="completeAudit()">Complete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header *ngIf="files && files.length > 0">
    Files
  </ion-list-header>
  <ion-item *ngFor="let file of files; let id = index">
    <ion-thumbnail slot="start" *ngIf="file">
      <img src="{{ file.url }}">
    </ion-thumbnail>
    <ion-label>
      {{ file.name }}
    </ion-label>
    <ion-icon *ngIf="!audit.completed" (click)="removePicture(file)" name="trash" color="warning" item-end></ion-icon>
  </ion-item>

</ion-content>