<ion-header>
  <ion-toolbar color="primary" class="ion-color ion-color-primary">
    <ion-title *ngIf="audit" class="title-ios hydrated">{{audit.title}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="audit">
  <ion-list>
    <ion-list-header>
      Description
    </ion-list-header>
    <div padding *ngIf="audit.description">{{audit.description}}</div>
    <div padding *ngIf="!audit.description">No description</div>
  </ion-list>
  <ion-list>
    <ion-item>
      Deadline
      <span item-end class="text-right">{{ audit.date }}</span>
    </ion-item>
    <ion-item>
      <ion-label> Follow-Up</ion-label>
      <ion-toggle [(ngModel)]="audit.followUp"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-textarea [disabled]="!audit.followUp" placeholder="Enter remarks here.." [(ngModel)]="audit.remarks">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter name.." [(ngModel)]="audit.other"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Location</ion-label>
      <ion-toggle [(ngModel)]="audit.location" (ngModelChange)="enableLocation()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="audit.location">
      <div #map id="map"></div>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!audit.completed">
        <ion-button color="secondary" expand="block" margin-top (click)="takePicture()">Take photo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      Photos
    </ion-list-header>
    <ion-item *ngFor="let file of audit.files; let id = index">{{ file.name }}
      <ion-icon (click)="removePicture(id, audit.id, file)" name="trash" color="red" item-end></ion-icon>
    </ion-item>
    <div *ngIf="!audit.completed">
      <ion-button color="primary" expand="block" margin-bottom (click)="updateAudit(true)">Complete</ion-button>
    </div>
  </ion-list>
</ion-content>