<div [formGroup]="answerForm">
  <!-- Uncomment if range value needs to be visible -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        {{ rangeValue }}
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-range
    [attr.disabled]="isReadOnly"
    class="range"
    pin="true"
    debounce="500"
    formControlName="slider"
    min="{{ question.sliderOptions.sliderFrom }}"
    max="{{ question.sliderOptions.sliderTo }}"
    step="{{ question.sliderOptions.sliderStep }}"
    value="{{ rangeValue }}"
    (ngModelChange)="sliderValueChanged()"
  >
  </ion-range>
  <ion-grid>
    <ion-row class="ion-nowrap">
      <ion-col class="ion-text-left">
        {{ question.sliderOptions.sliderLabelMin }}:
        {{ question.sliderOptions.sliderFrom }}
      </ion-col>
      <ion-col class="ion-text-right">
        {{ question.sliderOptions.sliderLabelMax }}:
        {{ question.sliderOptions.sliderTo }}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
