<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="questionnaire">{{questionnaire.title}}</ion-title>
    <ion-title *ngIf="!questionnaire">Questionnaire</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="questionnaire" style="--background: #eeeeee">
  <div *ngIf="questionnaireUserAnswer">
    <div *ngFor="let item of questionsAndQuestionGroups">
      <!-- Question groups -->
      <div *ngIf="item.type == 'Group'">
        <question-group
          [isReadOnly]="isReadOnly"
          [questionGroup]="item.reference"
          [questionnaireUserAnswer]="questionnaireUserAnswer"
          (questionnaireUserAnswerChange)="answerChanged($event)"
          [toSkip]="toSkip"
        >
        </question-group>
      </div>

      <!-- Standalone questions -->
      <ion-card
        *ngIf="item.type == 'Question' && !toSkip.includes(item.reference.id)"
        class="card ion-no-margin ion-margin-bottom"
        style="--background: white; border-radius: 0px"
      >
        <ion-card-content>
          <question
            [isReadOnly]="isReadOnly"
            [question]=" item.reference"
            [questionnaireUserAnswer]="questionnaireUserAnswer"
            (questionnaireUserAnswerChange)="answerChanged($event)"
            [isInGroup]="false"
          >
          </question>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-button
      *ngIf="!isReadOnly"
      color="primary"
      class="ion-margin-horizontal"
      expand="block"
      (click)="navigateBackToCompleteView()"
      >Complete Questionnaire</ion-button
    >
  </div>
</ion-content>
