<ion-card *ngIf="questionGroup && questionGroup.questions.length > 0" class="ion-no-margin ion-margin-bottom"
  style="--background: white; border-radius: 0">
  <ion-card-header>
    <ion-card-title mode="md">
      {{ questionGroup.groupTitle }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item-group>
      <div *ngFor="let question of questionGroup.questions" class="ion-padding-bottom">
        <question [isReadOnly]="isReadOnly" [question]="question" [questionnaireUserAnswer]="questionnaireUserAnswer" [isInGroup]="true">
        </question>
      </div>
    </ion-item-group>
  </ion-card-content>
</ion-card>
