.clickable-icon {
  font-size: 24px;
  padding-left: 0.5rem;
  vertical-align: middle;
  padding-bottom: 0.5rem;
}

.question-header {
  font-size: 16px;
}

.question-replay-delete{
  text-decoration: none;
  color: #4a91e5;
  margin: 10px;
}

.question-replay-delete:hover{
  text-decoration: underline;
  cursor: pointer;
}
.commentArea{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.chatArea{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.issueIcon{
  font-size: 22px;
  font-weight: bold;
}

.issueIcon:hover{
  cursor: pointer;
}
