<form [formGroup]="textDropDownComponent.get('dropDownOptions')">

  <div class="input-group mb-1">
    <ng-select
            class="full-width"
            [(items)]="options"
            bindLabel="label"
            bindValue="id"
            [multiple]="textDropDownComponent.value.dropDownOptions?.multiple"
            [closeOnSelect]="!textDropDownComponent.value.dropDownOptions?.multiple"
            [clearable]="textDropDownComponent.value.dropDownOptions?.clearable"
            >
    </ng-select>
  </div>

<form [formGroup]="dropDownOptions">
  <ion-list>
    <ion-item>
      <ion-label>{{ textDropDownComponent.value.label }}</ion-label>
      <ion-select>
        <ion-select
                formControlName="testControl"
                [multiple]="textDropDownComponent.value.dropDownOptions?.multiple"
                cancelText="Cancel"
                okText="Okay!">
          <ion-select-option *ngFor="let option of options" value="{{ option.id }}">
            {{ option.label }}
          </ion-select-option>
        </ion-select>
      </ion-select>
    </ion-item>
  </ion-list>
</form>
