<div class="group" *ngIf="selector">
    <division-item *ngFor="let division of divisions;trackBy: trackById" [readonly]="readonly" [division]="division"
        (list)="listDivisions()" [isTopLevel]="true" [selector]="selector" (onSelect)="onSelected($event)">
    </division-item>
</div>

<!-- The non-selector -->
<div *ngIf="!selector">
    <division-item *ngFor="let division of divisions;trackBy: trackById" [readonly]="readonly" [division]="division"
        (list)="listDivisions()" [isTopLevel]="true" [selector]="selector">
    </division-item>
</div>