<div *ngIf="selector && inputDivisions">
    <division-item *ngFor="let division of divisions;trackBy: trackById" [readonly]="readonly" [division]="division"
        [selector]="selector" (list)="listDivisions()" [isParrentChecked]="false" (onSelect)="onSelected($event)"
        [inputDivisions]="inputDivisions">
    </division-item>
</div>

<!-- The non-selector -->
<div *ngIf="!selector && inputDivisions">
    <division-item *ngFor="let division of divisions;trackBy: trackById" [readonly]="readonly" [division]="division"
        (list)="listDivisions()">
    </division-item>
</div>