<div [formGroup]="answerForm">
  <ion-range slot="start" pin debounce="500" formControlName="slider" min="{{question.sliderOptions.sliderFrom}}"
    max="{{question.sliderOptions.sliderTo}}" step="{{question.sliderOptions.sliderStep}}" value="{{rangeValue}}"
    (ionChange)="valueChanged()">
  </ion-range>
  <!-- <ion-label slot="start">{{question.sliderOptions.sliderLabelMin}}: {{ question.sliderOptions.sliderFrom }}
  </ion-label>
  <ion-label slot="end">{{question.sliderOptions.sliderLabelMax}}: {{ question.sliderOptions.sliderTo }}
  </ion-label> -->
  <ion-grid>
    <ion-row class="ion-nowrap">
      <ion-col class="ion-text-left">
        {{question.sliderOptions.sliderLabelMin}}: {{ question.sliderOptions.sliderFrom }}
      </ion-col>
      <ion-col class="ion-text-right">
        {{question.sliderOptions.sliderLabelMax}}: {{ question.sliderOptions.sliderTo }}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>