<div *ngIf="answerForm" [formGroup]="answerForm" class="ion-padding-start">
  <!-- <ion-searchbar [(ngModel)]="query" showCancelButton="always" debounce="0" (ngModelChange)="updateSearch()"
      (ionCancel)="dismiss()" placeholder="Start typing and select ...">
    </ion-searchbar> -->
  <agm-map *ngIf="renderMap" #map [latitude]="latitude" [longitude]="latitude" [zoom]="18">
    <agm-marker #mapMarker [latitude]="latitude" [longitude]="latitude" [markerDraggable]="true"
      (dragEnd)="setNewPosition($event)"></agm-marker>
  </agm-map>
</div>