<ng-container *ngFor="let section of formDto?.formSections">
  <ng-container *ngFor="let buildingComponent of section?.buildingComponents">

    <ng-container [ngSwitch]="buildingComponent?.type">

      <app-dropdown-view *ngSwitchCase="BuildingComponentType.Dropdown"
                         [bc]="buildingComponent">
      </app-dropdown-view>

      <app-parse-view *ngSwitchCase="BuildingComponentType.Text" [bc]="buildingComponent">
      </app-parse-view>

      <app-parse-view *ngSwitchCase="BuildingComponentType.TextArea" [bc]="buildingComponent">
      </app-parse-view>

      <app-parse-view *ngSwitchCase="BuildingComponentType.Date" [bc]="buildingComponent">
      </app-parse-view>

      <app-parse-view *ngSwitchCase="BuildingComponentType.Number" [bc]="buildingComponent">
      </app-parse-view>

      <app-location-view *ngSwitchCase="BuildingComponentType.Location" [bc]="buildingComponent">
      </app-location-view>

      <!--

      <ng-container *ngSwitchCase="BuildingComponentType.Location">
        <div class=" card">
          <div class="card-header"> {{ buildingComponent.label }} </div>
          <div class="card-body">
            <app-location-view [locationBc]="buildingComponent"></app-location-view>
          </div>
        </div>
      </ng-container>
      -->

      <div *ngSwitchDefault></div>
    </ng-container>

  </ng-container>
</ng-container>